body {
  background-color: #191919;
}

int1 {
  font-size: 60pt;
  float: left;
  padding: 100px;
}

int2 {
  float: left;
}

int3 {
  font-size: 50pt;
  float: left;
  padding: 10%;
  padding-bottom: 100px;
}

int4 {
  font-size: 20pt;
  float: right;
  align-self: center;
  padding: 100px;
}

.logo {
  border-radius: 200px;
  height: 400px;
  width: 400px;
}