* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #111;
    background-image: linear-gradient(#222, #111);
    display: flex table-column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 2rem 1rem;
}

.nav a {
    color: inherit;
    margin: 0;
    float: left;
    padding-left: 30px;
}
