.res {
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

h1 {
    font-size: 50pt;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.font-roboto body {
    padding: 30px;
}

Element {
    height: fit-content;
    width: fit-content;
}

@media only screen and (max-width: 780px) {
    h1 {
        font-size: 35pt;
    }
  }