.res card {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,1);
    transition: 0.1s;
    width: 600px;
    height: auto;
    margin: 2%;
    border-color: white;
    border-radius: 10px;
    background-color: #222;
    padding: 10px;
}

.res card .font-roboto {
    padding: 10px;
}

.res card .scu-logo {
    float: right;
    color: #30D5D5;
    height: 30px;
    width: 30px;
    background: url("../assets/Santa-Clara-Broncos-logo.png") no-repeat center center;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

@media only screen and (max-width: 625px) {
    card {
        width: 96%;
    }
}