.font-audiowide {
    font-family: 'Audiowide', cursive;
    color: white;
}

.font-syncopate {
    font-family: 'Syncopate', sans-serif;
    color: white;
}

.font-roboto {
    font-family: 'Roboto', sans-serif;
    color: white;
}

blu {
    color:#30D5D5;
}

.logo {
    background: url("./assets/isaaclogo.jpeg") no-repeat center center;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}

.logo2 {
    background: url("./assets/isaaclogo2.JPG") no-repeat center center;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
}