.nav {
    background-color: #333;
    color: white;
    display: flex table-column;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 2rem 1rem;
}

.nav u1{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline;
    gap: 1;
}

.li {
    list-style: none;
}

.nav a {
    color: inherit;
    margin: 0;
}

.logo {
  background: url("./assets/isaaclogo.jpeg") no-repeat center center;
  border-radius: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  padding: 1px 1px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 200px;
  height: 300px;
  width: 300px;
  position: relative; left: 30px; top: 10px;
}
