.proj {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.proj h1 {
    font-size: 50pt;
}

card {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,1);
    transition: 0.1s;
    width: 650px;
    height: 500px;
    margin: 2%;
    border-color: white;
    border-radius: 10px;
    background-color: #222;
    padding: 10px;
}

card .preview {
    background: url("./assets/isaaclogo.jpeg") no-repeat center center;
    background-size: auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    height: 100%;
    width: 50%;
    float: left;
    border-radius: 10px;
}

.description {
    width: 48%;
    height: 100%;
    float:right;
}