.proj {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.proj h1 {
    font-size: 50pt;
}

card {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,1);
    transition: 0.1s;
    width: 9000px;
    height: 500px;
    margin: 2%;
    border-color: white;
    border-radius: 10px;
    background-color: #222;
    padding: 10px;
}

card .preview {
    border-color: rgba(0,0,0,0);
    object-fit: cover;
    height: 100%;
    width: 50%;
    float: left;
    border-radius: 10px;
}


.description {
    width: 48%;
    height: 100%;
    float:right;
    padding: 10px;
}

.description p1 {
    font-size: 16pt;
}

.description p2 {
    font-size: 14pt;
}